# Compiled Object files
*.o

# Executables
*.exe

# Machine Learning / Heavy Models
*.task

# UI Configuration states
imgui.ini

# Editor / IDE settings
.vscode/

# Build Output / Published folders
Published/
